@font-face{
	font-family: HelveticaNeueUltraLight;
	src: url('font/HelveticaNeueLTPro-Lt.otf');
}
@font-face{
	font-family: Signika;
	src: url('font/Signika-Semibold.otf');
	font-weight: bold;
}
body{
	margin: 0;
	background-color: white;
}

.container{
	position: fixed;
	width: 100%;
	height: 30px;
	border-bottom: 3px ridge white;
	box-shadow: 0px 3px 15px #414141;
	opacity: 0.9;
	filter:alpha(opacity=90);
	background-color: white;
	text-align: center;
	background: white;

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.35, #BAB8BA),
	color-stop(0.85, #969496)
	);
	background-image: -o-linear-gradient(top, #BAB8BA 35%, #969496 85%);
	background-image: -moz-linear-gradient(top, #BAB8BA 35%, #969496 85%);
	background-image: -webkit-linear-gradient(top, #BAB8BA 35%, #969496 85%);
	background-image: -ms-linear-gradient(top, #BAB8BA 35%, #969496 85%);
	background-image: linear-gradient(to top, #BAB8BA 35%, #969496 85%);

}



#menubar{
	position: absolute;
	width: 85%;
	left:8%;
	list-style: none;
	margin: 0 auto;
	padding: 0;
	height: 30px;
	overflow: hidden;
}

#menubar2{

	position: absolute;
	width: 85%;
	left:8%;
	list-style: none;
	margin: 0 auto;
	padding: 0;
	height: 30px;
	overflow: hidden;

}

#menubar li {
	display: table-cell;
	height:30px;
	width: 12%;
	text-align: center;
	vertical-align: middle;
	border-right: 2px groove #F0F0F0;
}

#menubar2 li {
	display: table-cell;
	height:30px;
	width: 12%;
	text-align: center;
	vertical-align: middle;
	border-right: 2px groove #F0F0F0;
}

#menubar li a{
	text-decoration: none;
}

#menubar li a div{
	display: block;
background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.35, #BAB8BA),
	color-stop(0.85, #969496)
	);
	background-image: -o-linear-gradient(top, #BAB8BA 35%, #969496 85%);
	background-image: -moz-linear-gradient(top, #BAB8BA 35%, #969496 85%);
	background-image: -webkit-linear-gradient(top, #BAB8BA 35%, #969496 85%);
	background-image: -ms-linear-gradient(top, #BAB8BA 35%, #969496 85%);
	background-image: linear-gradient(to top, #BAB8BA 35%, #969496 85%);
	text-decoration: none;
	color: white;
	font-family: HelveticaNeueUltraLight;
	font-size: 18px;
	vertical-align: middle;
	height: 100%;
	transition: 0.25s;
	padding: 6px;
}

#menubar2 li a div{
	display: block;
	background-color: white;
	color: black;
	font-family: HelveticaNeueUltraLight;
	font-size: 18px;
	vertical-align: middle;
	height: 100%;
	padding: 6px;
}

#menubar #name{
	font-family: Signika;
	font-size: 23px;
	color: black;
	font-weight: 500;
}

#menubar2 #name{
	font-family: Signika;
	font-size: 23px;
	color: black;
	font-weight: 500;
	opacity: 0;
}

#menubar li a:hover div{
	transition: 0.25s;
	transform: translate(0px, -35px);
	-webkit-transform: translate(0px, -35px);
}


.footer{
	position: absolute;
	bottom: 0px;
	font-size: 15px;
	padding-bottom: 10px;
	padding-top: 10px;
	border-top: 2px solid grey;
	text-align: center;
	width: 100%;
}

.footer a{
	text-decoration: none;
	color: black;
}